[2020-04-09 14:30] pickypg commented on #400
The issue with ignoring 400 here is that you could legitimately cause a 400 ("Bad Request") and not know it at that point.

[2020-04-09 14:32] pickypg commented on #399
Thanks for the idea, adding to the backlog.

[2020-04-09 15:21] 111andre111 commented on #399
Please talk at least to @urso for the Beats because I know that he has plans to do something like that.

[2020-04-09 16:23] 111andre111 commented on #400
No worries. I completely understand that what was said and I brought it up only because of the reason it came up during a diagnostics session and having seen this log line that there were errors. So for the moment I don't have a real good solution for that and I agree with you.
But from a customer's perspective this log line can be a bit irritating asking yourself - hey, why my cluster isn't healt

[2020-04-09 17:15] jpcarey commented on #400
Unfortunately, as you probably read from the linked elastic/elasticsearch#34800 issue, the elasticsearch devs decided that the 400 response was appropriate. I think conditionally trying to deal with this one API endpoint to suppress what our elasticsearch team considered valid is a very bad idea. The fix to this should be upstream (the decision has already been made), or a separate enhancement req

[2020-04-09 17:15] #400 closed

[2020-04-16 11:05] maulinglawns commented on #390
@nemonster Thanks. I just tried the latest release, and it works as expected.

[2020-04-20 13:19] #393 closed

[2020-04-20 13:19] #401 closed

[2020-04-20 13:20] nemonster commented on #395
Fixed in 8.0.5 release.

[2020-04-20 13:20] #395 closed

[2020-04-20 17:57] nemonster opened #404 "Deliver diagnostic output as .zip file"
When the diag was first created there were some issues with zipping the output that seemed to necessitate the use of a tar, then gz process. And there was a preference for that format by some individuals at the time.

However going forward, cross platform/cross code handling to of the results for analysis tends to suggest a plain .zip would be preferred as a format

[2020-04-24 19:28] #404 closed

[2020-04-27 18:41] nemonster opened #406 "Scrub node name and id by default"
Add additional defaults to prevent diagnostic file mangling by conscientious scrubbers.

[2020-04-27 18:42] #406 closed

[2020-04-27 18:49] #391 closed

[2020-04-30 19:31] A-Hall opened #407 "Index tab reporting uuid value in primaries column"
The index tab in the diag analyzer is showing the uuid value in the primary shard count column and shifting everything over a column.  This is for a 6.6.0 cluster if that's relevant.

![image](https://user-images.githubusercontent.com/19538614/80751279-b7dc4a00-8ae6-11ea-92c4-30be90b22342.png)

[2020-05-08 22:11] eddieturizo opened #408 "Running support tools (diag + fsu) against large cluster states and diag bundles"
Goal here is to discuss what metrics we should collect and present as part of discussing possible optimizations that may be needed for either utility (diag, file sanitization) when ran against large clusters (100+ nodes) and diagnostic bundles with large (350+ MB) files.

It has been observed that the file sanitization utility can take a long time (5+ minutes) to sanitize a JSON file at 354MB. It

[2020-05-09 13:05] nemonster commented on #408
What heap size were they using when they ran it? If it's the default, I'd try bumping up to 8G or greater.

[2020-05-14 06:31] Leaf-Lin opened #410 "Sanitising slowlog"
slowlog usually contains sensitive information like the actual query people are running, but they don't seem to be processed by `scrub.sh`

Would it be possible to sanitising slowlog and removing the request body?

[2020-05-15 14:18] robin13 opened #415 "Capture output of _cat snapshots"
It is sometimes necessary to know if recent snapshots were successful or not.  Would it be possible to add the `/_cat/snapshots` call to the diagnostics queries?

[2020-05-15 18:53] lucabelluccini opened #416 "Collect hidden indices stats and names"
Following the introduction of [hidden indices](https://github.com/elastic/elasticsearch/pull/50452), it is necessary to grab all the indices (including the hidden ones).

It will require the parameter `expand_wildcards=all` in most of the APIs which target `_all`/`*` indices.

[2020-05-16 19:24] jpcarey commented on #415
Does this endpoint just query some sort of cached state, or does it need to go read all the metadata files stored within each repo / snapshot? If the later, I'd be worried about collecting this by default. One of the old cluster's that I managed would take ~2 minutes to list snapshots due to the number of snapshots & s3...

[2020-05-18 15:03] nemonster commented on #410
I've looked at the output in Slack and from what I can see, the files are being scanned. So given the reluctance to share any actual content, I think you and the customer need to do some further investigation, since if the file is being scanned and nothing is happening it generally means that the definition of the token to be scrubbed is not matching with the actual content. And I can't do anythin

[2020-05-18 15:09] nemonster commented on #410
And as far as the request to specifically sanitize the request body in a slow log, that's an entirely separate issue from a failure to process. It's one thing to search for an instance that can be anywhere and replace it generically. It's something else to look in a specific spot for a specific thing that may or may not be there.

And it actually is possible to do a regex that would find the sourc

[2020-05-25 07:19] ismael-hasan opened #420 "Add an option to disable potentially memory-expensive calls when creating the diagnostic, and don't retry them"
Some REST calls can be very expensive in a cluster that is oversharded. Just to put an example:
- Recently, I did run the diagnostic tool in a cluster with 20K shards, for which the indices could have up to thousands of fields.
- The call to `GET _segments` did effectively put too much memory pressure in the receiving node and it ended up dying with an OOM error.
  - Elasticsearch team is already

[2020-05-25 11:16] PhaedrusTheGreek opened #421 "-i doesn't work as input argument"
[code]

Also there's a related error in the docs - `-clusterName` vs `--clusterName`

[2020-05-25 13:01] PhaedrusTheGreek opened #422 "Collect other monitoring data (Logstash, etc)"
I think by default, the Elasticsearch monitoring data is collected, but it would be great if we had the option to also collect others such as Logstash.  This is good for correlation of pipeline issues.

[2020-05-26 15:08] nemonster commented on #421
@PhaedrusTheGreek
I was a little confused by this as first, since there's no -i parameter in the parameter table. But then I looked at the examples and saw it, as well as the one with the single dash in clusterName. It was copied from the text of the scrub evidently and forgot to change all the parameters. The evils of of copy/paste once again...

Actually, there's another one in the table, where

[2020-05-26 15:10] nemonster commented on #422
Don't disagree. Had considered it before, but this is the first time anyone has asked for it. Also think the data from metricbeat might be interesting to have.

[2020-05-26 17:27] nemonster commented on #420
Usually cluster state is the main offender in terms of memory. It's kind of hard to predict this kind of failure with any certainty. What I _am_ going to do is expose the configuration files in a config directory. So if you saw this kind of behavior you could easily remove either the call and/or the retry.

[2020-05-29 22:21] eddieturizo commented on #408
They were in fact running with the default heap settings. The issue is that the cluster state is so large, the scrub utility may benefit from optimizations.

[2020-06-02 17:55] nemonster commented on #422
@PhaedrusTheGreek Followup on this - you're referring to Metricbeat based monitoring data? Or the legacy collection?

[2020-06-03 18:44] #416 closed

[2020-06-04 18:52] BobBlank12 opened #424 "Remote option is failing to connect"
Attempting to use a remote option for a logstash diag, diag tool is failing to connect:

[code]

[code]

SSH with user/password is working to this remote server... anything else to check?

[2020-06-04 21:20] nemonster commented on #424
That's an HTTP connection error. Check the logstash.yml to see if the http.host and/or http.port are set to something you can access remotely. By default Logstash binds to localhost and that's it. So the only incoming http requests it will accept will be from those made on that same host.

`
http.host: 0.0.0.0`
`port:9600`

Usually gets things working.

[2020-06-04 21:39] inqueue commented on #424
It feels like the remote option should execute REST calls over ssh to localhost by default. Something like:

[code]

It'd be neat if the diagnostic offered a `remoteHost` parameter that could serve as a remote gateway for remote calls. Then something like this might work:

[code]

The diagnostic would do all its data collection for localhost via 192.168.2.250, the host itself. `remoteHost` could a

[2020-06-16 17:40] nemonster commented on #424
@inqueue I'm not convinced it's realistic to completely rewrite all the REST routines with the equivalent curl calls when if they've got an SSH login all they have do is shell in and run the utility. The remote mode is mainly just a convenience for those who have taken the extra time and effort to set up the REST interface.

I'm considering putting in an option to just run remote system calls agai

[2020-06-16 17:40] #424 closed

[2020-06-16 17:40] nemonster commented on #422
@PhaedrusTheGreek this will be out in this week's release.

[2020-06-16 17:42] nemonster commented on #421
@PhaedrusTheGreek As I've been reworking scrub and adding to the monitoring extract I've brought these input parameters into alignment, hopefully.  Everything will be standardized on -i and --input, similar to -o and --output. So at least it's consistent.

[2020-06-16 17:48] nemonster commented on #420
@ismael-hasan You actually can already override the retry behavior via the elasticsearch-rest.yml file. Thing was, you had to extract it from the archive and copy it into the utility directory. Now all the config files are exposed in the /config directory in the installation directory of the diagnostic.

To remove a particular call, just comment it out. Only calls with the
``` retry: true ```
para

[2020-06-16 17:54] nemonster commented on #415
As outlined above this is potentially an expensive call to be running by default. And in fact, there are a LOT of calls made by the diag that I think would be better served as a second pass rather than as an initial collection.

But at this point I'm exposing all the configuration in the /config directory of the diag so there's a middle ground I'm going to tread here.

So I'm going to add this, bu

[2020-06-16 18:01] nemonster commented on #410
@Leaf-Lin I've made a few changes to the sanitization utility that may impact this particular case. In the next release you'll be able to restrict the processing of a particular token to a file pattern. In addition you can flag a file type to be removed from the sanitized archive altogether. So if you wanted to simply take the slow logs out of the sanitized diag that should be easy to do. Or you c

[2020-06-16 18:01] nemonster commented on #408
Addressed in the next release.

[2020-06-16 18:05] nemonster commented on #399
I'd have to wonder out loud here why this request is not being made to the respective Kibana and Beats teams, and simply provided as an export out of Kibana?  These are pretty skeletal pieces of information, and fairly narrow in scope.

[2020-06-16 18:45] #408 closed

[2020-06-16 18:45] #410 closed

[2020-06-16 18:45] #415 closed

[2020-06-16 18:45] #420 closed

[2020-06-16 18:45] #421 closed

[2020-06-16 18:45] #422 closed

[2020-06-16 19:55] benwtrent opened #426 "Add datafeed stats information to support diagnostic"
Since 7.4.0 we have had helpful search metrics added to the datafeed stats API https://github.com/elastic/elasticsearch/pull/44683

We should add these statistics along side the anomaly detector statistics.

https://www.elastic.co/guide/en/elasticsearch/reference/current/ml-get-datafeed-stats.html

[2020-06-16 20:02] nemonster commented on #426
Will be in the next minor release.

[2020-06-16 20:37] #426 closed

[2020-06-18 17:16] BobBlank12 opened #430 "Add refresh interval to Indices tab"
It would be helpful to have a column with the refresh_interval on the indices tab.

[2020-06-25 15:04] nababou opened #435 "Configure Elasticsearch on kubernetes (GCP) for OpenID Connect authentication"
Hi everyone,
I tried to configure authentication in kibana with OpenID Connect single sign-on, but I have some issue for configuring single sign-on to the Elastic Stack using OpenID Connect.
-version 7.2.1
-GKE GCP
-CRD version is  0.8.1
Error:
020-06-25T12:21:02.165082717Z uncaught exception in thread [main]
2020-06-25T12:21:02.166349446Z java.lang.IllegalArgumentException: unknown setting [node.

[2020-06-25 15:12] nemonster commented on #435
@nababou This repo is for issues and questions encountered when running the support diagnostic utility for Elasticsearch. That doesn't appear to have an apparent relationship to the text of the issue. If you're looking for general setup and configuration information [the online discussion groups](https://www.elastic.co/community/) would be the appropriate location.

[2020-06-25 15:12] #435 closed

[2020-06-30 01:20] ppf2 commented on #426
@nemonster It looks like datafeed stats existed since 5.5 (https://www.elastic.co/guide/en/elasticsearch/reference/5.5/ml-get-datafeed-stats.html) so I think we will want to update this construct to:

[code]

[2020-07-02 15:35] radu-gheorghe commented on #294
I get a similar issue, on Ubuntu 18.04. I've tried with Elasticsearch 6.x and 7.x and get the same problem:
[code]

[2020-07-02 15:46] radu-gheorghe opened #436 "Add a flag to force running system calls"
This is a spin-off from https://github.com/elastic/support-diagnostics/issues/294#issuecomment-653078159

It looks like on some systems, support-diagnostics doesn't detect the bound address of ES, so it doesn't run system calls. I can reproduce this on an Ubuntu 18 Vagrant box, but I've seen it in many places. I think a flag that forces running system calls (maybe requiring the OS?) would be usefu

[2020-07-06 14:13] nemonster commented on #294
Will comment in that issue.

[2020-07-06 14:36] nemonster commented on #436
Did you read the issue comments? I thought I explained what the process was and how it functions but perhaps it wasn't entirely clear. Three log lines isn't much to go on, and there's no information about the specific environment other than it's a Ubuntu 18.04 Vagrant box, which doesn't provide much background. Nor does "many places". OK, I guess..., but it also works in many places, so the issue

[2020-07-06 17:09] radu-gheorghe commented on #436
Hello and thanks for the quick reply @nemonster!

First of all, sorry for being to brief here. I realize I came across as "not doing my homework at all", when in fact I was trying to be short :) Also, thanks a lot for your work on this useful tool - another implicit thing that shouldn't have been implicit. I'm very much appreciating it!

On to more details, here's one way to reproduce this issue:

[2020-07-13 10:02] robin13 opened #438 "indices_stats.json fails if indices are closed"
If an index is closed, when `indices_stats.json` is created, it results in the file containing:

[code]

This is a real bother because a closed index can cause all useful data to be missing here...
Could it be that `forbid_closed_indices` is set to false (default is true)?

[2020-07-13 15:41] nemonster commented on #438
This issue has exactly _zero_  to do with the diagnostic utility.

First off, no diagnostic version provided, no Elasticsearch version, no logging, not console output. Not much to go on.

* Checking this against a 7.5.2 cluster did not exhibit the behavior.
* Ran against a 7.7.0 and an error occurred as soon as an index was closed. Even a plain vanilla _stats with no options fails. And no, forbid_

[2020-07-13 15:41] #438 closed

[2020-07-27 13:51] eddieturizo opened #440 "Correct case in parameter names in the examples for import-monitoring.sh"
[Examples](https://github.com/elastic/support-diagnostics#monitoring-import-examples) use camel case for the cluster and index names, but the [code](https://github.com/elastic/support-diagnostics/blob/19ef80910e1f641cdbb80bb704b63258b9e2a5bb/src/main/java/com/elastic/support/monitoring/MonitoringImportInputs.java#L21-L22) suggests camel case should not be used.

[2020-07-28 13:27] nemonster commented on #440
Fixed in 8.1.2.

[2020-07-28 13:27] #440 closed

[2020-08-14 20:59] Gunnerva opened #443 "Add new GETs"
In the next version please add the below "GET" outputs:

GET _cat/templates?v  -- _this is needed because it will list the contents of GET _template and GET _index_template, however GET _template does not include the data from GET _index_template
GET _index_template
GET _component_template

[2020-08-14 21:00] #443 closed

[2020-08-14 21:00] Gunnerva opened #444 "Add additional GET Commands"
In the next version please add the below "GET" outputs:

GET _cat/templates?v -- _this is needed because it will list the contents of GET _template and GET _index_template, however GET _template does not include the data from GET _index_template
GET _index_template
GET _component_template

[2020-08-20 14:30] CBlaisure commented on #444
What versions do these commands apply to?

[2020-08-20 14:33] Gunnerva commented on #444
These were introduced in 7.8 of Elasticsearch.

https://www.elastic.co/guide/en/elasticsearch/reference/7.8/index-templates.html

Related docs:
https://www.elastic.co/guide/en/elasticsearch/reference/7.8/indices-get-template.html
https://www.elastic.co/guide/en/elasticsearch/reference/7.8/getting-component-templates.html

[2020-09-15 11:28] perrinal commented on #350
II tried today and got the same error it would be nice to have this working as monitoring uploaded in ESS is easier to share.

[2020-09-28 14:33] bczifra commented on #350
@nemonster this is not resolved. the three folks above who commented ran into this issue, as did I. Can this issue please be reopened?

[2020-09-30 15:54] nemonster commented on #350
@bczifra This doesn't have anything to do with SSL. It has to do with ESS. I'm looking into it at the present. For now, if you want to use the import, do it on a local instance. It will work with or without SSL.

[2020-09-30 17:36] inqueue commented on #350
The error presented itself as an SSL issue and I assumed import would "just work" to ESS. How about we rephrase the title to `Monitoring data import not working to ESS` and reopen?

[2020-10-09 19:05] nemonster commented on #396
Addressed in the next release. Given that it's unusual to run ES now without authentication I am making it the default. You have to disable authentication explicitly if you don't want to apply security. And given that, there will always be a prompt for the user and password fields where both are obfuscated.

[2020-10-09 19:06] #396 closed

[2020-10-09 19:08] nemonster commented on #385
In the next release automatic retries will be disabled by default. You'll need to explicitly turn them on from now on. And actually, you can already change the delay between retries with the pause-retries field in diags.yml.

[2020-10-09 19:08] #385 closed

[2020-10-09 19:09] #375 closed

[2020-10-09 19:10] #243 closed

[2020-10-09 19:14] nemonster commented on #287
In the next release you can specify x number of runs separated by a defined interval.

[2020-10-09 19:14] #287 closed

[2020-10-27 01:27] bosinm opened #450 "Monitoring data import not working to ESS"
This is a follow up of this [issue](https://github.com/elastic/support-diagnostics/issues/350) (attempting to push monitoring data to an ESS cluster with monitoring enabled).

- Support diags version 8.1.2
- ESS 7.7.1 with monitoring enabled

[code]
From the extract log(attached):

[code]
[import.log](https://github.com/elastic/support-diagnostics/files/5442337/import.log)

Are we missing somethin

[2020-10-29 14:27] CBlaisure commented on #450
Are you able to recreate this?  After review, `java.lang.RuntimeException: Broken pipe` implies a networking issue and therefore might be temporary

[2020-11-03 12:20] 111andre111 opened #452 "error with interactive mode in version 9.0.0-BETA"
With the new version 9.0.0 and a local elasticsearch cluster this one works:
`./diagnostics.sh -url https://localhost:9200`

But when do the same using the interactive mode, it ends up with an error:
[code]

[2020-11-05 00:44] jpcarey commented on #452
thanks for reporting. @nemonster any thoughts on this?

[2020-11-05 13:55] nemonster commented on #452
@jpcarey Looking into it, and will have something a little later today.

[2020-11-05 15:58] nemonster commented on #452
@111andre111 @jpcarey

TLDR: The currently attached archive should be working.

Minor issue in url validation slipped through after a late refactor. I've updated the README for the beta to reflect that it's changed but just replaced the zip and SHA rather than doing a full release this time. We can revisit if anything more substantive pops up.

[2020-11-05 15:58] #452 closed

[2020-11-06 00:03] 111andre111 commented on #452
Cool, thanks. It's working.

[2020-11-12 15:56] nellicus commented on #450
@bosinm assuming this is not reproducible and we'll close. please reopen if you can repro thanks.

[2020-11-12 15:56] #450 closed

[2020-11-13 22:26] RicardoGralhoz opened #454 "Switch releases shasum files to SHA256 for SHA1 is not safe anymore"
Hi, the [Releases page](https://github.com/elastic/support-diagnostics/releases) as of today use a `support-diagnostic-XX.XX.XX-dist.zip.sha1` file for shasum checks. The article [Announcing the first SHA1 collision](https://security.googleblog.com/2017/02/announcing-first-sha1-collision.html) announced in 2017 a

and recommends

This seems like a low hanging fruit. Have you considered moving it t

[2020-11-30 05:29] kunisen opened #456 "[Doc update request] Can we add example of how to take diag for ESS manually in case it may timeout and fail"
It's a doc update request.
Can we add an example of how to take diag for ESS manually in case it may timeout and fail?
I make a quick recipe below.

----

**Way to grab from cloud user side**

- Use the above URL w/o `https://` and `:9243` for `--host` parameter.

- Use `9243` for `--port` parameter.

- Use `elastic` as user name

- Use password of `elastic` user (Only the cloud user knows it)

-

[2020-12-01 13:20] urso commented on #399
You can find a proposal for Beats diagnostics here: https://docs.google.com/document/d/17Z_u7tGFiBn7o_mSTeeKoeJFeB6DGbUGm7oZeqjJbi4/edit?ts=5fc60ffc

Some input from support would be highly appreciated.

[2020-12-28 10:36] toby-sutor commented on #450
Reopening as I can still reproduce this.

**Steps to reproduce**:
1. Create an ESS deployment (7.10.1 on GCP Belgium, highIO with a single 4GB node).
2. Enable Stack Monitoring (same behavior with skipping this step)
2. Download the Support Diagnostics from https://github.com/elastic/support-diagnostics/releases/tag/8.1.2
3. Run it like this (on a company Mac with Firewall enabled/disabled):
`./im

[2020-12-28 10:39] toby-sutor opened #457 "Monitoring data import not working to ESS"
Reopening as I can still reproduce this (ref. https://github.com/elastic/support-diagnostics/issues/450 and https://github.com/elastic/support-diagnostics/issues/350)

**Steps to reproduce**:
1. Create an ESS deployment (7.10.1 on GCP Belgium, highIO with a single 4GB node).
2. Enable Stack Monitoring (same behavior with skipping this step)
2. Download the Support Diagnostics from https://github.c

[2020-12-29 08:10] msperl opened #458 "java.lang.NoClassDefFoundError on stdout redirection (or non tty)"
As soon as I run diagnostics with stdout redirected I get a java.lang.NoClassDefFoundError

Example:
[code]
But this also happens when executed with a complete command with all the parameters.
Same exception as soon as I add a ```> /tmp/log.txt``` or even just a simple ``` 2>&1 | less```
But it also happens when executed from an ansible task

It looks as if the tool tries to start X11 when stdout

[2020-12-31 14:02] nemonster commented on #457
The trace shows that you are trying to do this with the 8.1.2 version. That won't work. If you want the fixes you'll need to use the 9.0.0 pre-release.

[2021-01-05 08:34] toby-sutor commented on #457
Thank you for the clarification, it was not obvious from the other issues that this is only supposed to be fixed in the 9.x branch.

[2021-01-07 15:39] PhaedrusTheGreek commented on #457
@toby-sutor can you verify the fix is working in 9?

[2021-01-07 15:53] PhaedrusTheGreek commented on #458
Agree that this is not very intuitive - we suggest using the workaround above, and we'll look at fixing in a future iteration.

[2021-01-13 12:52] robin13 opened #459 "ERROR Unable to locate appender "diag" for logger config "root""
When running the export:

[code]

This error is shown.

[2021-01-14 00:21] CBlaisure commented on #459
Did the job complete and this is a warning or did it crash here? Will help us troubleshoot the issue.

[2021-01-14 06:51] robin13 opened #461 "Misleading output from export_monitoring.sh regarding log file"
During issues with `./export-monitoring.sh` the logs show:

[code]

But in the resulting file there is only `extract.log`:
[code]

The console logging should align with what is actually produced; either the log file should be named `diagnostics.log` or the console logging should indicate to look in the `extract.log`.

[2021-01-14 08:19] robin13 opened #462 "Cannot list cluster IDs for export_monitoring.sh"
When trying to list the cluster_uuids, to be able to choose the correct one to export, we are faced with an unexpected exception, indicating that we should enter the cluster_uuid:

[code]
We have also tried the interactive script, but this yields the same results. We suspected that maybe the credentials are not correct, or there is some proxy etc. between, but a simple cURL shows that connection i

[2021-01-14 08:20] robin13 commented on #459
It did not complete successfully, but it is not clear if this was the cause for it failing to complete.
See this (possibly related) issue for the full output:
https://github.com/elastic/support-diagnostics/issues/462

[2021-01-14 10:07] nellicus commented on #462
@robin13 I've been through the code but still  I am not sure why you'd be getting

since you're passing the `--list` flag to get that list rather then feeding a cluster uuid with `--id` as described [here](https://github.com/elastic/support-diagnostics/blob/290b878a62db4f7b7400b79dad27d36e8c17aff0/src/main/java/com/elastic/support/monitoring/MonitoringExportInputs.java#L29) so maybe there's a bug

[2021-01-14 10:20] nellicus commented on #462
forgot to add, where the URI used is as specified [here](https://github.com/elastic/support-diagnostics/blob/a406459d9f5de1be2b260bba3f25e37f9825b4b3/src/main/resources/monitoring-rest.yml) (version dependent) as `monitoring-uri`

  versions:
    "< 7.0.0": "/.monitoring-es*/_search"
    ">= 7.0.0": "/.monitoring-es*/_search?rest_total_hits_as_int=true"

[2021-01-19 23:03] ppf2 commented on #444
These are important as we start to support customers using data streams.

[2021-01-21 15:38] CBlaisure commented on #461
Thanks.  Added this request to our list of improvements.

[2021-01-21 16:30] nemonster commented on #461
Just saw this. If you look at the latest branch in the repo there's a fix for most of the current logging issues.  Just have to merge it.

[2021-01-21 18:12] lucabelluccini opened #463 "Handle changes of APIs related to the master to controller change"
Due to the upcoming https://github.com/elastic/elasticsearch/issues/67833, some APIs will potentially change (e.g. `GET _cat/master`).

We need to be sure to handle such changes.

[2021-01-21 18:53] nemonster commented on #461
And BTW, all the fixes for the import/export are in the 9.0 release. If you're trying to use the 8.x you're just going to be flailing away.

[2021-01-28 01:32] chason commented on #457
Closing due to lack of reproducibility

[2021-01-28 01:33] #457 closed

[2021-01-28 22:28] mcpate opened #464 "Capture certificate expiration and issuer in diagnostics"
We recently had an SDH that was a bit complicated to troubleshoot. Eventually, we realized that the internal certificate expired which was causing the Proxy to reject requests from our internal services. It would be really nice if the diagnostics tool captured the expiration of the internal certs and the issuer so that we could check those things as top-level items when troubleshooting ECE issues.

[2021-01-28 22:36] mcpate commented on #464
Wrong repo.

[2021-01-28 22:36] #464 closed

[2021-01-30 06:52] romain-chanu commented on #459
FYI - @CBlaisure - there is a commit in a different branch (https://github.com/elastic/support-diagnostics/commit/10b76d6602361121cbf3431f3635ad3cb0fead71) that looks like an attempt to fix this issue?

[2021-02-04 11:35] gbanasiak opened #465 "Monitoring data export excludes system indices which is not documented"
Due to https://github.com/elastic/support-diagnostics/blob/8.1.2/src/main/resources/monitoring-extract/index_stats.json#L5-L11 export of system indices is excluded which is not documented and might be confusing.

The workaround is to remove this section from the query template:
[code]

[2021-02-05 18:58] joshFive opened #466 "Receiving readHandshakeRecord when running diag"
Trying to run diag against es 6.8 running in a docker container.

using openJDK 1.8

command: ./diagnostics.sh --host lpdosput020008.phx.aexp.com -u elastic -p --port 9200 --ssl --type api --noVerify --bypassDiagVerify

When running the CLI we receive these errors:
[code]
[code]

Here is the error log from the bundle:

[code]

[2021-02-05 19:22] pickypg commented on #466
In Java (and most languages), `Caused By` exceptions are the more important ones:

[code]

The socket is failing _during_ the Read Handshake. This means there's something wrong at the network level (or the other side crashed).

[2021-02-05 20:32] inqueue opened #467 "Remove pretty from mapping and cluster state collections"
It is common for `mapping.json` and `cluster_state.json` to be quite large. Collections for these files use the `pretty` option which adds unneeded bytes to the files.

[code]

Compacted, the 465MB cluster state would be 131MB.

[code]

Can the `pretty` query parameter be removed from these calls? jq or any text editor capable of prettifying JSON can be used if needed.

[2021-02-06 00:23] #466 closed

[2021-02-11 15:05] #467 closed

[2021-02-12 00:10] Leaf-Lin opened #469 "Getting index _field_caps?fields=* output"
As counting the number of fields are important for troubleshooting potential mapping explosion issues, can we please have the API output as part of the support diagnostics? Thanks!

[code]

[2021-02-12 00:46] Leaf-Lin commented on #469
Maybe wait for https://github.com/elastic/elasticsearch/issues/68947 which will have the proper breakdown by index and would be more useful than the above.

[2021-02-12 00:51] #469 closed

[2021-02-17 20:49] predogma commented on #457
Just reference examples syntax for export/import monitoring data using v9.0.0 pre-release (not same as 8.1.x)

[code]

[2021-03-04 08:50] toby-sutor commented on #203
I can also reproduce this when the distribution package is being executed via `sh diagnostics.sh` instead of `./diagnostics.sh`:

[code]

[2021-03-04 09:37] jakommo opened #472 "Add auto-scaling APIs"
[1,3,2,1]
It wold be good to GET the new autoscaling APIs into the diag, so we can review on the systems that have support for it (ESS, ECE, ECK).

For now, it looks like that's:
[GET /_autoscaling/capacity/](https://www.elastic.co/guide/en/elasticsearch/reference/current/autoscaling-get-autoscaling-capacity.html)
[GET /_autoscaling/policy/<name>](https://www.elastic.co/guide/en/elasticsearch/refe

[2021-03-04 16:11] nellicus commented on #472
this should be a quick couple of lines change. @pickypg to put up a PR

[2021-03-04 17:03] jakommo commented on #472
Thanks friends. Do note that this is only available on ECE, ESS and ECK for now. Which is why I didn't PR it (not sure how to only hit those, if possible at all)

[2021-03-18 10:20] JohannesMahne opened #473 "Monitoring Import | Port not documented"
There is an undocumented flag for `import-monitoring.sh`: `--port`
Please add it to the readme.

[2021-03-18 20:04] pickypg commented on #472
`GET /_autoscaling/policy/` does not work without specifying an explicit name (`*` does not list), so we will have to skip this one for now.

It's not currently. But returning a 404 isn't the end of the world.

[2021-03-19 08:40] jakommo commented on #472
Thanks @pickypg . The policies are also in the cluster state, which should be enough for now

[2021-03-19 22:57] #472 closed

[2021-03-30 09:53] perrinal opened #477 "Improve documentation and usage text for type logstash-remote"
The usage help and diagnostic utility for the type logstash-remote should be clearer:
- an SSH connection must be available between the source and Logstash server
- the user and password are from a system account on the Logstash server.

[2021-04-07 19:18] luckeyca opened #478 "the dist package is missing files and directories."
downloaded the support-diagnostics-8.1.4-dist.zip and run ./diagnostics.sh. got error below:
Error: Could not find or load main class com.elastic.support.diagnostics.DiagnosticApp.

open up the shell script and could see this line:
"$JAVA" $DIAG_JAVA_OPTS ${DIAG_DEBUG_OPTS} -cp ${scriptDir}/config:${scriptDir}/lib/* com.elastic.support.diagnostics.DiagnosticApp "$@"

however, neither "config" nor

[2021-04-08 14:51] pickypg commented on #478
Hi @luckeyca,

I just checked the distribution's `.zip` file in the release link:

https://github.com/elastic/support-diagnostics/releases/download/v8.1.4/support-diagnostics-8.1.4-dist.zip

When I unzipped it, there is a `config` and `lib` directory in there. Can you double check that you did not download the `Source code` by accident (common mistake)?

[2021-04-09 19:50] #478 closed

[2021-04-09 19:52] luckeyca commented on #478
Hi @pickypg, thanks. I pretty sure I downloaded the dist file, but download again today and did see the directories now. wonder if the company firewall did something to the artifacts.

[2021-04-09 19:53] pickypg commented on #478
No harm, no foul! Have a good weekend.

[2021-04-09 19:53] luckeyca commented on #478
same to you. @pickypg

[2021-04-14 07:34] kostasb opened #479 "Kibana diag improvements for prepackaged, stats, task health and new alerts health APIs"
1) The `/api/detection_engine/prepackaged` Kibana API returns HTTP 404 with 7.11 and 7.12. We may want to remove this call from the diag tool

[code]

2) For the stats endpoint it is preferrably to retrieve the extended version which is much more verbose.
[code]

instead use: `/api/stats?extended=true`

3) The task manager health api is named "kibana_task_manager_help" in the diag tool, which gene

[2021-04-14 08:47] robin13 opened #480 "Include `.monitoring-beats-*` in monitoring export"
Today it is not possible to export `.monitoring-beats-*` indices. Could the functionality please be added so that for the export the `--type` includes `beats` separately, but also under `all`?

[2021-04-15 14:27] nellicus commented on #480
added to backlog for diagnostic discussion

[2021-04-16 11:24] jguay opened #481 "Include .monitoring-kibana-* in monitoring export"
Similar feature request as https://github.com/elastic/support-diagnostics/issues/480 but for kibana
Today it is not possible to export .monitoring-kibana-* indices. Could the functionality please be added so that for the export the --type includes kibana separately, but also under all?

[2021-04-19 17:50] CamiloSierraH commented on #479
Hey @kostasb and @danleerunk I will work on this now, I will submit a new PR asap!

[2021-04-20 16:52] CamiloSierraH commented on #479
I finished the first 3 changes.
The last one is interesting, by default only get the data for the default space, if the customer have multiple spaces, we will not collect all the information, I will do a code and review the other queries we have to be sure that we collect not only the data in default space, but in all the spaces.

[code]

[2021-04-20 23:44] CamiloSierraH commented on #479
I need to test it first but the code is here: https://github.com/CamiloSierraH/support-diagnostics/commit/8473f39e37aec9c366d3c9434942d3dcb43cce65

I updated all the kibana APIs (alerts, actions, detection_engine), so now we are collecting all the spaces data.
For the new query `kibana_alerts_health` we do the same, and we collect all the spaces data!

Hey @kostasb my friend if you want to test it

[2021-04-21 17:56] CamiloSierraH commented on #479
Ok the PR was create here: https://github.com/elastic/support-diagnostics/pull/483

[2021-04-22 17:07] kostasb commented on #479
Tested the 8.1.5 version provided by @CamiloSierraH on slack, all API outputs look good. Thanks Camilo!

![image](https://user-images.githubusercontent.com/15780449/115755746-59b70f80-a3a6-11eb-9e72-56b2b0c353c9.png)

[2021-04-22 20:04] 111andre111 commented on #479
Confirmed from my side as well:

I have some additional APIs and would like to know if I should open a separate issue for them?
Forgive if I had a duplicate, that from a collection that I made some time ago.

Alerts/Actions
https://localhost:5601/api/actions/list_action_types
https://localhost:5601/api/alerts/_aggregate?default_search_operator=AND
https://localhost:5601/api/alerts/_health
https://

[2021-04-24 00:04] CamiloSierraH opened #484 "Kibana diagnostic APIs"
Hi everyone,

@111andre111 has collected a great list with the APIs accesible in Kibana! I have created this new case so we check and prioritize the API we will add.

I see two aspects that we need to review for each API, so we can produce some prioritization:
- how this API will help us to troubleshooting or better understand an Issue.
- Is any information that we don't want to collect on the API

[2021-04-24 00:06] CamiloSierraH commented on #479
The list is great Andre!!! not even the dev team or doc team has such complete list!!!

I have created a new case to review and prioritize the APIs we will add.

[2021-04-25 22:18] 111andre111 commented on #484
@CamiloSierraH Just for information, the list I provided is more or less a small extract. I have quite a very huge list of API calls because I was curious. It has more than 400 API calls and let me add it here, plus a swagger file that I've created.

[kibana-api.xlsx](https://github.com/elastic/support-diagnostics/files/6373277/kibana-api.xlsx)

[examples.spec-sorted.json.txt](https://github.com/e

[2021-04-26 17:10] brunofarache opened #485 "Support Diagnostics Tool consumed as a Java library"
The Support Diagnostics Tool was designed to be used from the command line.

The objective of this issue is to also make it possible to consume this tool as a Java library.

Here are the changes to make that happen:

  - [x] Include `*.yaml` config files in released jars. Instead of distributing `*.yaml` separately from the jar file, it would be better to include them in the binary, this way, deve

[2021-04-29 05:51] wolframhaussig opened #489 "domain login fails with support-diagnostics"
I wanted to look into a problem on our elastic stack using the support diagnostics tool. As we primarily use the active directory login I tried to use the tool with my personal account which has superuser privileges on the elastic cluster. Unfortunately, I get the following error:

[code]

Of course I can use the default elastic superuser but my question is: Am I doing something wrong or is the su

[2021-04-29 14:26] CBlaisure commented on #485
Grooming notes:
Support Development to investigate github actions to deploy Maven automatically.

[2021-04-29 14:40] CBlaisure commented on #484
We should be very careful what API's we call and should consider load on the cluster as well as security concerns in evaluating what API's to use.  In general, we should pull only what is relevant for our troubleshooting.

We should be mapping API calls to Support Use cases to justify the addition to the diagnostic.

[2021-04-29 14:47] pickypg commented on #489
We most likely need to URL encode the username for that specific API. The `\` is probably `%5C` (untested to confirm that that fixes it).

I doubt you can do anything locally to work around that because other APIs will expect the unencoded value in the auth header.

[2021-04-29 19:52] 111andre111 commented on #484
@CBlaisure Absolutely agreed only due to the fact that I have a list of API calls that doesn't mean that all of them are helpful/ feasible so it absolutely makes sense to have a deeper check first.

[2021-05-04 14:52] shasts commented on #485
@brunofarache
Just so you know, we have a few internal libraries published in our artifactory.

[2021-05-05 20:21] pickypg opened #490 "Change to Gradle Build"
The current Maven-based build is cumbersome and it's time to simplify it.

[2021-05-05 20:35] pickypg commented on #489
I have a PR up to fix this. In the meantime, before it's merged and released, the only workaround is to use a user without a special character in it.

[2021-05-05 21:43] #489 closed

[2021-05-09 12:54] SivaTharun commented on #490
@pickypg can i work on this issue, i see that the current maven build is happening via maven plugins, what is the expectation for migration to gradle, should we relay up on gradle plugins (or) move to gradle wrapper?

[2021-05-10 16:31] mark54g opened #492 "Interactive mode does not work for Logstash due to assumption of using login credentials"
Using the tool in interactive mode fails when using the Logstash parameters for type, since it force-assumes a need for users, which Logstash does not have.

Can be reproduced by trying to run interactive and choosing a logstash type.

[2021-05-10 17:58] SivaTharun commented on #490
Thanks @pickypg for replying, i will work to raise a draft PR, on the gradle plugin changes with in the next two to three days.

[2021-05-13 14:27] nellicus commented on #492
logstash auth is possible but by default not required. diag tool should allow discriminating the two possible scenarios (allow user/password auth or just skip)

[2021-05-13 14:29] nellicus commented on #492
workaround: supply the flags to the script without using interactive mode

[2021-05-13 16:52] mark54g commented on #492
@nellicus How would Logstash do the auth? This failed for every attempt, and yes, the workarounds exist but they provide a bad user experience and are not well documented.

I'd suggest this is a bug.

[2021-05-15 17:37] SivaTharun commented on #490
@pickypg i have raised this draft [PR](https://github.com/elastic/support-diagnostics/pull/496), for this issue. could you review it.

[2021-05-20 06:48] kiju98 commented on #334
We can refer to https://stackoverflow.com/c/elastic/questions/1783/2114#2114

[2021-05-20 06:56] eedugon opened #498 "[enhancement] Include in the documentation an example to run the tool on kubernetes"
Running the diagnostic tool (`--type api`) when elasticsearch is running on Kubernetes is quite straight forward following this trick:

[code]

Of course the ports used in the previous example could be adapted.

As a lot of users end up needing this now that Kubernetes is widely used, it might be interesting to add this way in a section of the doc.
Of course if a `local` execution is needed then t

[2021-05-21 14:05] damianpfister opened #499 "[enhancement] Improvement: ECK Diagnostic & specifically Logstash logs"
This came in from a customer who had some ECK issues recently and had the following comments regarding possible improvements:

**Challenge:**

-    When told to run the `eck-dump.sh` script, the customer needed to make some modifications to it as it did not collect logs from the Logstash nodes. Should the logic to collect logstash pod logs/status not be included by default as it's a supported prod

[2021-05-21 15:58] 111andre111 commented on #499
The location of the script is here:
https://github.com/elastic/cloud-on-k8s/blob/master/support/diagnostics/eck-dump.sh

[2021-05-25 03:18] romain-chanu commented on #484
@CamiloSierraH - for the Kibana APIs, can we add `/api/status` as well? The utility (version 8.1.4) only gets the `/api/stats`. The `/api/status` collects status information from all the Kibana plugins - that could be handy as well for troubleshooting.

[2021-05-27 15:10] pickypg commented on #498
Would you like to add it to the README @eedugon? :)

[2021-05-27 20:05] eedugon commented on #498
Hehehe I will raise a PR then!! :)

El El jue, 27 may 2021 a las 17:10, Chris Earle ***@***.***>
escribió:

[2021-06-03 12:59] JohannesMahne opened #500 "Readme | Import Monitoring `--clustername`"
In the Import Monitoring section in the Readme, the flag `clustername` needs to have two `--`, otherwise it would give an error and wont work:

[code]

[2021-06-10 14:54] PhaedrusTheGreek commented on #500
We'll fix this ASAP

[2021-06-10 17:36] #500 closed

[2021-06-26 02:49] kiju98 opened #505 "add "expand_wildcards=all""
`expand_wildcards=all` should be added to `_settings`, `_ilm/explain`, and probably more

[2021-07-01 19:13] #490 closed

[2021-07-13 17:52] pickypg commented on #485
I was able to get the person with Maven Central access to give me approval to create packages in the `co.elastic.*` `groupId`. They were on vacation until today. Now we wait for Sonatype.

https://issues.sonatype.org/browse/OSSRH-70696

They literally gave me permissions as I was posting this. I'll be trying it out soon.

[2021-07-14 16:52] stefnestor opened #507 "Separate JSON formatting from API calls into sub-code"
In follow up to https://github.com/elastic/support-diagnostics/pull/506 (cc: @jpcarey @inqueue), to keep the Support diagnostic helpful to a wider audience, I'd like to request formatted JSON in the remaining files.

Originally, I was thinking to expand usage of `?pretty` but since our concern is API heaviness, I think instead switching to removing `?pretty` everywhere and then setting up a JSON f

[2021-07-20 22:48] pickypg commented on #485
@brunofarache I was able to get this deployed to Maven Central: version 8.2.0. Gradle dependency:

[code]

[2021-07-21 00:32] pickypg commented on #485
I was able to confirm this works locally with my own cluster:

[code]

Gradle build

[code]

[2021-07-21 00:33] #485 closed

[2021-07-21 10:43] jalogisch commented on #355
Do we have any plans for a hosted docker image?

Similar situation to the initial request, with environments that are restricted.

[2021-07-21 14:09] vknallamothu commented on #459
For me, the diagnostics ran successfully. But the warning/error "2021-07-21 14:04:56,499 main ERROR Unable to locate appender "diag" for logger config "root"" is shown.

[2021-07-22 09:16] nerophon opened #511 "[bug] scrubber fresh install fails to run"
The scrubber, part of a fresh download, consistently fails to run with error:
[code]

Here is more from the scrubber.log:

[code]

We definitely downloaded the built package, not the source.
We checked the diagnostic utility, that works fine.
Environment details:
[code]

[2021-07-22 14:09] pickypg commented on #511
Can you have them try modifying the `scrub.bat` file and remove the `\NUL`, then retry? The `scrub.sh` does not have that and it seems wrong.

https://github.com/elastic/support-diagnostics/blob/8e12e21688f0fd4fd7b8d72c1e06ff33e7af9d3d/scripts/scrub.bat#L6

[2021-07-23 15:33] brunofarache commented on #485
Awesome, thanks @pickypg. cc @gmarz

[2021-07-28 23:57] jonny-mcc commented on #511
I also get the same errors but using the bash script rather than the bat file

[code]
Looking at `scrubber.log` yields
[code]

However, after unzipping the support bundle the scrubbing tool worked again

[code]
[diagnostic-5e19d4-2021-Jul-26--17_40_55.zip](https://github.com/elastic/support-diagnostics/files/6897019/diagnostic-5e19d4-2021-Jul-26--17_40_55.zip)

[code]

[2021-07-30 09:25] eedugon commented on #450
This was a real issue (and easy to reproduce), but we have closed it (and similar reports) and fixed in 9.0.0 without details...

Anyway this looks fixed in 9.0.0 pre-release, check this nice comment for more info and details on how to execute the import:
https://github.com/elastic/support-diagnostics/issues/457#issuecomment-780844011

[2021-07-30 09:25] eedugon commented on #350
This was a real issue (and easy to reproduce), but we have closed it (and similar reports) and fixed in 9.0.0 without details...

Anyway this looks fixed in 9.0.0 pre-release, check this nice comment for more info and details on how to execute the import:
https://github.com/elastic/support-diagnostics/issues/457#issuecomment-780844011

[2021-08-03 17:18] 111andre111 opened #512 "endpoint security api calls for elasticsearch and kibana diagnostics:"
[1,2,2,1]

Due to the upcoming version 7.14.0, support diagnostics should now obtain following api entries:
Kibana:
[code]
Elasticsearch (I am not sure but maybe this is already obtained by the Elasticsearch diagnostics).
[code]

[2021-08-06 10:28] bczifra opened #513 "Get `_node/pipelines?graph=true` output for Logstash to allow tracing metrics to plugins"
As noted in https://github.com/elastic/logstash/issues/12228 , the `_node/pipelines?graph=true` output is useful for tracing metrics back to the particular plugins they are associated with. See the referenced issue for an example. It would be helpful to retrieve this output as part of the logstash diagnostics.

[2021-08-11 10:19] fgierlinger opened #515 "building docker container fails"
*Summary*

Executing the `docker-build.sh` from the release package yields a `/root/support-diagnostics-8.1.4/docker-build.sh: line 2: cd: ../docker: No such file or directory` error.

The error can be traced back to the `docker-buid.sh` file. In line 2, there is a cd statement which only makes sense in the folder hierarchy of the github project.

https://github.com/elastic/support-diagnostics/blo

[2021-08-11 17:37] cybersecdiva commented on #479
I synced with @spong and I have synced on this and he will work on devising detection APIs and other items that we can for troubleshooting

[2021-08-12 00:08] chason commented on #515
After reviewing, it looks like this shell script isn't really necessary and what it does could be easily explained in the documentation instead.

[2021-08-13 20:10] cybersecdiva commented on #479
For reference the Slack thread in **#sdh-security**  channel that @spong initiated for contributions from team on detection APIs and other items: https://elastic.slack.com/archives/CUEC7HAKD/p1628721254011800

Thank you @spong  for your diligence and proactiveness :elasticheart: ⭐ ⭐ ⭐ ⭐ ⭐

[2021-08-14 11:34] fgierlinger commented on #515
@chason  Indeed. When building out of the root folder with `docker build -f docker/Dockerfile -t support-diagnostics-app .` the build succeed. It is mandatory to be inside the root folder, else the scripts  are not copied into the container.

[2021-08-19 12:55] fgierlinger opened #516 "Parameter --archiveType is not recognized"
**Summary**
According to (README)[https://github.com/elastic/support-diagnostics/blob/main/README.md] the `--archiveType`  parameter can be used to specify the format of the output archive. The options `tar`, `zip` and `any` are supported.

None of the documented options actually work with the docker container. The error yielded is always the same.

[code]

The error is the same, no matter if usin

[2021-08-19 13:15] fgierlinger opened #517 "created zip cannot be unpacked with windows built-in zip"
**Summary**
The zip created in the support-diagnostics-app docker container cannot be unpacked with the windows built-in zip. When trying to unpack the zip in windows 10 the built-in zip utility complains, that the compressed folder is invalid. When opening the zip archive with the Windows Explorer to list the content, no content is shown _"This folder is empty."_ .

![image](https://user-images.g

[2021-08-19 13:29] fgierlinger opened #518 "Checking for diagnostic version updates fails because of invalid version string"
**Summary**
Since the version 8.1.3 [the version tag has changed](https://github.com/elastic/support-diagnostics/tags) and a _v_ is prepended to the version string.
* 8.1.1
* 8.1.2
* v8.1.3
* v8.1.4

The `diagnostics.log` reveal that there is an error while parsing the string.

[code]

I suppose the added _v_ is not stripped before passing the version string to the `com.vdurmont.semver4j` library.

[2021-08-19 13:36] fgierlinger commented on #516
My bad, I have just seen that release v8.1.4 is at commit bad8fe76f2d2be716c14ffc5455f8fb51d78d280 . The `--archiveType` parameter has been introduced with commit 5735f201b9fb699ce7de4060c8efc73f129d95d3 which has been commited ~1 month later.

`--archiveType` is only available in the source github package or in a later release.

[2021-08-19 13:36] #516 closed

[2021-08-19 16:36] pickypg commented on #517
Hi @fgierlinger, is this a one-off error or is this happening on a regular basis?

As a small aside, WinZip is a specific application that is separate from the built-in Windows Zip utility, which frequently has issues like this in my experience. If you keep running into issues, you may want to check out 7-Zip or some other Zip utility for Windows, separate from the built-in functionality.

Separat

[2021-08-19 16:37] pickypg commented on #518
Good catch. We added the `v` to be consistent with other tags, but missed that we broke this. Thanks, we'll see what we can do to fix it.

[2021-08-19 19:29] fgierlinger commented on #517
@pickypg yes, whenever I had to submit an elastic support package to the elastic support I received a response, that the zip was empty. Which I couldn't comprehend, since `unzip -l` showed me some content. Now I finally got the time to look into the issue and found what I described above.

You are right, this is my mistake. I have only tested this with the windows built-in Zip utility. I will rena

[2021-09-03 02:44] Leaf-Lin opened #521 "Collecting snapshot count via `GET _snapshot/*/*?verbose=false`"
[1,1,2,1]

Starting from 7.15, elasticsearch will collect the total count of snapshots in a repo which can be useful for diagnotics.
Can we please add this API call to the support diagnostics?
- https://github.com/elastic/elasticsearch/pull/76150

[code]

[2021-09-08 23:58] jpcarey commented on #521
@pickypg can we pull this into the current release cycle?

[2021-09-09 17:52] stefnestor commented on #484
🙏🏼 request to append `GET api/task_manager/_health` which is the first thing Kibana Alerts requests for Alert investigations (e.g. https://github.com/elastic/sdh-kibana/issues/1966#issuecomment-910434713).

[2021-09-09 23:05] CamiloSierraH commented on #484
Hey @stefnestor , the API is already on the support diagnostic if the kibana version already has that API.
[code]
more details here: https://github.com/elastic/support-diagnostics/blob/main/src/main/resources/kibana-rest.yml

And you are right that is one of the first APIs we use to debug the alerting, for that reason since the first version we analyze the results of that API on the diagnostic ana

[2021-09-14 16:05] #518 closed

[2021-09-14 18:19] pickypg commented on #513
What version is that API first available in?

[2021-09-14 19:27] #521 closed

[2021-09-15 13:41] cybersecdiva commented on #512
@spong and I also had this same discussion on getting detection APIs back in August for diagnostics: https://github.com/elastic/support-diagnostics/issues/479#issuecomment-897019236

[2021-09-15 22:57] pickypg commented on #518
Thanks for this report @fgierlinger. With today's release, the included fix future proof's it and, for existing user's, I have released with the `v`-free tag style so that they can properly parse it. After a few releases I'll stop doing that, but this way users can upgrade naturally without it breaking.

[2021-09-15 22:58] pickypg commented on #518
[code]

[2021-09-20 22:14] gwbrown opened #536 "Add Node Shutdown Status API"
In 7.15.0, we're releasing the [Node Shutdown API](https://www.elastic.co/guide/en/elasticsearch/reference/7.15/node-lifecycle-api.html).

While this API is (currently) marked as Cloud-only in the docs and is intended only for operator use, the feature is enabled for on-prem deployments, and we'd like to make sure we have visibility here just in case.

Specifically, we'd like to collect the output

[2021-09-21 23:33] pickypg commented on #517
I updated to `commons-compress` version `1.21` and released it in 8.2.2. @fgierlinger that's unfortunately the best we can do, so I hope that it works. If it continues to have issues, I do suggest trying a different Zip utility in Windows (or hopefully Windows 11 makes it work).

[2021-09-21 23:34] #517 closed

[2021-09-27 16:24] eddieturizo opened #537 "monitoring import - indexname parameter removed"
The `indexName` parameter for the monitoring import script was removed in 8.1.1 [1]. It is valid for 8.1.0 [2].

Import options [2] suggests `indexName` is not a valid parameter.

The monitoring import examples suggests `indexName` is a valid parameter.

While confusing, it would be nice to be able to control the index name unless I'm overlooking a compelling reason not to. It may make sense to co

[2021-10-05 09:11] fgierlinger opened #542 "Changed zip filename starting with release v8.2.2"
**Summary**
The filename of the [release zip archive has changed starting with release 8.2.2](https://github.com/elastic/support-diagnostics/releases/tag/8.2.2). Until then, the archive has always been following the following name scheme: `support-diagnostics-<semver>-dist.zip` or more generic `<github-project-name>-<semver>-dist.zip`

Since release 8.2.2 the filename does not contain `support-` a

[2021-10-05 09:13] robin13 commented on #459
Observed again with 8.2.2

[code]

[2021-10-05 09:29] fdartayre commented on #459
This seems to point to an error in log4j2 configuration. I don't think it prevents the execution but it's misleading when the diag fails for some reason because we can assume this is the root cause.

[2021-10-05 13:01] fgierlinger opened #543 "Building docker container fails because *.bat files cannot be removed"
**Summary**
Building the docker container in the root directory of the support-diagnostics project with fails, because there are no `*.bat` files and therefore they cannot be removed

[code]

In the `/support-diagnostics` directory all project files have been copied. I suppose only the files under scripts should have been copied. The files are copied because of the `COPY . /support-diagnostics` co

[2021-10-05 13:03] fgierlinger commented on #543
The solution is most probably to only copy the content of `./scripts` into the containers `/support-diagnostics` folder.

[code]

[2021-10-05 15:37] fgierlinger commented on #543
Sorry for the noise, I mistakingly downloaded the main v8.2.2 branch instead of the release package. In the release package, the container can be build with the command `docker build -f ./docker/Dockerfile .` without any problem.

[2021-10-05 15:37] #543 closed

[2021-10-05 20:16] pickypg commented on #542
@fgierlinger We dropped it as part of releasing the library code to Maven, and Maven is producing the zip files for us.

Did you have a need for it to match, other than the straightforward desire to not be surprised by changes? I do plan to switch the build over to Gradle, which will give us a lot more flexibility in the output structure, so if there's a need I could see putting the zip file's nam

[2021-10-12 00:46] rseldner opened #545 "Add a pause or timeout for all windows .bat scripts"
GUI oriented Windows users might simply double click on the .bat scripts to run in interactive mode, which will launch a terminal window to run the script.  If java is not found, the terminal window will **immediately** close without the user having a chance to actually read the error.  Some users might not know/consider running via a command-line session (rather than double-clicking) to get aroun

[2021-10-18 17:15] hubbleview opened #546 "Diagnostic tool failed to get any data, no diagnostics.log, need troubleshooting guidance"
This environment is hardened.

When running diagnostic utility by root account, it didn't collect any data and failed to create archive.
[code]

No diagnostics.log can be found in the directory.
[code]

We could see zip and tar.gz file, but they are all empty.
We also changed SELinux to permissive and tried running but still had the same problem.

Running with shell debug flag, got the following:

[2021-11-15 18:21] jakelandis opened #549 "Include _ingest/geoip/stats"
Can the diagnostic also include the output of `_ingest/geoip/stats` for Elasticsearch.

https://www.elastic.co/guide/en/elasticsearch/reference/7.16/geoip-stats-api.html , this should be available as of 7.15.

[2021-11-29 20:23] octavioranieri commented on #549
Endpoint `/_ingest/geoip/stats` has been included in 7.13.0 under https://github.com/elastic/elasticsearch/pull/70282

Submitting the PR shortly today.

[2021-11-29 20:53] #549 closed

[2021-12-16 12:14] gvbulow opened #557 "Import to monitoring cluster not showing cluster name"
A customer provided data exported with export-monitoring.sh (8.2.4) from their monitoring cluster on Elastic Cloud (6.8.11). When I import the data to my own monitoring cluster (ESS 7.16.1) using command `./import-monitoring.sh -url https://my-deployment-0f0914.es.northeurope.azure.elastic-cloud.com:9243 -input "/Users/georgevonbulow/Google Drive/Customers/Drivvn/drivvn-monitoring.zip"` (9.0.0) th

[2021-12-17 17:23] PhaedrusTheGreek commented on #512
It seems that in order to collect this type of data, we must set up CLI flags for the diagnostic tool, and then ask customers to call the diagnostic with the specific agent ID on the command line, which hopefully doesn't have to happen too often.

Given that there's no simple automation potential, and that the case percentage is rare, it may not belong in the capture tool.

What about if we had a

[2021-12-17 17:27] cybersecdiva commented on #512
@PhaedrusTheGreek  That is a good suggestion and solution and we can definitely implement this action and test it out to see if this would be viable. 😄

[2021-12-17 17:28] pickypg commented on #512
I would go a little further and suggest that you all work with the Kibana devs to implement APIs that do not require fetching by ID and instead can fetch all of them, similar to other stat / info collection APIs.

[2022-01-04 17:04] nik9000 opened #561 "Sort _cat/nodes"
It'd help me to eyeball the output of `_cat/nodes` if it sorted by node name - like with `?s=n`

[2022-01-09 11:04] jguay opened #562 "running diagnostics.sh from source code does not send clear message"
I think code https://github.com/elastic/support-diagnostics/pull/374 never worked for bash version

1- Download latest release source file (I know this is added by GH when creating a release and we can't disable this)
2- unzip/untar and run `scripts/diagnostics.sh` :
[code]

While I'm there, there is another issue in the code [here](https://github.com/elastic/support-diagnostics/blob/v8.2.6/script

[2022-01-10 19:00] agopiola opened #564 "[Support] Self-generate upload link due to large files"
This request is being submitted on behalf of our client as they would like to have the ability to "self-generate" an upload link within the support portal due to the fact that their ECK diagnostic file(s) are typically larger that the allotted attachment size within the support portal.

**Use case. Why is this important?**
It lessens the steps for sending oversized files from ECK

**Kubernetes inf

[2022-01-11 09:21] ayushmathur86 commented on #459
Raised a similar issue for v8.2.6: https://discuss.elastic.co/t/support-diagnostic-tool-failing/293999

[2022-01-12 17:26] peluja1012 commented on #479
Hello @kostasb, do you know if there have been any recent updates on getting these improvements added? The data we would get with these changes would improve our SDH response time.

[2022-01-12 18:11] kostasb commented on #479
I will defer to @CamiloSierraH who, last time I was updated on this topic, was developing the Kibana API diagnostics. Also @111andre111 might know more?

[2022-01-14 01:49] pickypg commented on #562
Closed by #563.

[2022-01-14 01:49] #562 closed

[2022-01-19 00:07] 111andre111 commented on #479
For documentation, I reached out to Pedro to find out the driver of his question.

[2022-01-24 18:59] maggieghamry commented on #459
Observed also with 8.2.6

[2022-01-27 00:17] 111andre111 commented on #512
@pickypg @PhaedrusTheGreek
Here are meanwhile the fetch all API calls investigated:

[code]
Some of them are paginated, but I think we already have a mechanism for paginating results. I think we already do the same for the alerts API in Kibana diagnostics already.

[2022-01-31 21:15] dakrone opened #569 "Some diagnostics files are not pretty printed"
In a diagnostics tarball for ES, I would say about 90% of the `.json` files are pretty printed. Would it be possible to get the others pretty printed also? This saves time since we don't have to pretty print it ourselves, and can immediate use tools like `grep` since it's not all one gigantic line.

[2022-01-31 22:17] jpcarey commented on #569
This really goes into a balance between size and readability, and this issue had requested the removal for some of the larger ones: https://github.com/elastic/support-diagnostics/issues/467.

Would `jq '.' filename |grep ...` be acceptable? A secondary idea might be to include in the extracted bundle a short script that would prettify all the JSON files.

[2022-02-03 16:26] #569 closed

[2022-02-08 08:01] MonGMZ commented on #498
About running on `local ` in a docker container won't work either as the tool checks if its running in pod and stop

[2022-02-10 09:57] antbell opened #571 "Fix version detection for Kibana 8.0"
Kibana 8.0 doesn't expose the `api/settings` route, which is used to detect the Kibana version before calling the other rest endpoints.
The Kibana version can be read from the payload of the `/api/stats` route.

[2022-02-11 17:09] #571 closed

[2022-02-15 12:27] ayushmathur86 commented on #459
Not really sure if the solution is only to install "zip" utility on the host as suggested in community ticket: https://discuss.elastic.co/t/support-diagnostic-tool-failing/293999/2?u=ayush_mathur
I cannot install any utility due to project constraints, so is there some other way to get this fixed ?

[2022-02-23 12:15] Calej87 opened #575 "ERROR co.elastic.support.diagnostics.commands.CollectSystemCalls - java.lang.StringIndexOutOfBoundsException: String index out of range: -1"
Hi!

When I launch the tool as follows from PS:

[code]

It gives me the following errors:

[code]

I can't find the solution. could you help me?

Thanks

[2022-02-23 12:27] Calej87 commented on #575
#[[zube]: analyzer/diagnostic]

[2022-02-24 00:47] pickypg commented on #575
It's not abnormal to see a few errors while running a diagnostic, particularly when running on defaults. The first thing worth calling out:

[code]

This is failing to lookup latest version for the diagnostic on GitHub, which generally means your firewall blocked the lookup. Be sure to verify that you are running the latest version of the diagnostic. I can see from the file paths that you are runn

[2022-02-24 00:47] #575 closed

[2022-02-25 21:48] VimCommando commented on #444
@CBlaisure I reviewed the [`elastic-rest.yml`](https://github.com/VimCommando/support-diagnostics/blob/7011757cb0951a515fee83e20e5c4740296938c1/src/main/resources/elastic-rest.yml) and it looks like all the  endpoints requested here have already been added, I think we can close this issue.

[2022-02-28 16:28] CBlaisure commented on #444
Thanks @VimCommando. Closing issue.

[2022-02-28 16:28] #444 closed

[2022-03-02 17:26] stefnestor opened #578 "Enable Kibana Diagnostic to be Space Aware for Rules"
Consolidating parallel conversations in this repository (https://github.com/elastic/support-diagnostics/issues/479, https://github.com/elastic/support-diagnostics/pull/514, https://github.com/elastic/support-diagnostics/issues/512, https://github.com/elastic/kibana/issues/124382). The Kibana diagnostic is not currently space aware though Kibana (SIEM) Rules have been space delineated since at leas

[2022-03-02 19:20] pmuellr commented on #578
Heh, was just looking at this yesterday.

Ideally, we could get the alerting connectors / rules directly from ES, and not Kibana.  But I think the problem with that approach is the diagnostic tool either points to ES when getting ES diags, or Kibana when getting Kibana diags, so when running the Kibana diags, the ES url is not available.

I say "ideally", but honestly not sure - there may be some

[2022-03-02 19:32] pickypg commented on #578
In general, the diagnostic has avoided reading from data indexes -- even system indexes -- to avoid scraping user data accidentally. Having an API in Kibana would be ideal for the diagnostic because then the diagnostic would not need to be changed for any unanticipated changes to the data structure (or indexes for that matter), and Kibana can be responsible for removing content we shouldn't have.

[2022-03-03 23:11] stefnestor commented on #578
From @pickypg's update, I believe we're confirming going with @pmuellr update

As mini-step-forward, I've filed https://github.com/elastic/support-diagnostics/pull/580 to pull Kibana Spaces which'll at least allow introspection that non-default-space data's missing. I'm guessing some variant of @CamiloSierraH's https://github.com/elastic/support-diagnostics/pull/514 PR, we'll want to grab spaces a

[2022-03-03 23:19] stefnestor commented on #512
FWIW Transforms & its stats return in ES diag [here](https://github.com/elastic/support-diagnostics/blob/main/src/main/resources/elastic-rest.yml#L483-L493). I can take first stab at PR from https://github.com/elastic/support-diagnostics/issues/512#issuecomment-1022723390 if you want? Do you know the first available versions per endpoint? Are they all 7.14.0?

[2022-03-04 20:49] mikecote commented on #578
@pmuellr

The data returned from Elasticsearch directly would contain encrypted attributes like API keys for alerting rules and configuration / passwords for connectors (if we export connectors). Going through Kibana will remove those encrypted attributes when using the APIs.

In Kibana, there is such a way when not using authorization (by using the saved object repository) to get a list of saved-

[2022-03-04 21:29] pmuellr commented on #578
But they are encrypted :-).

Ya, probably best to make sure these aren't exported, so if we did use ES, we'd have to filter those away.

The diagnostic tool uses HTTP endpoints to get it's data, so I don't think this will help.  I'm guessing someday we'll have a role of "alerting admin" or such, that would be kinda super-user for alerting things only, and then we could make some endpoints availabl

[2022-03-05 10:33] jguay opened #581 "Should we capture certificate information ?"
If diagnostics runs against a secured endpoint, should we add some code to collect certificates information from the endpoint : subject, issuer, notBefore, **notAfter**, **DNSAliases**... ?

I am wondering if this would make sense to add this before we spend any time coding this

[2022-03-07 14:45] mikecote commented on #578
I think that path makes sense as a starting point, even if starts with diagnostics purposes. We could make the API internal, protected behind a certain privilege that would give space agnostic information.

[2022-03-15 14:19] that-dom opened #582 "Built-In Diagnostic Gather and Upload"
As we start to use this tool for other use cases like Cloud Readiness check it would be helpful if the tool was built into Elasticsearch and accessible from Kibana. Uploading the diagnostic to a support ticket causes confusion and unnecessary work for a support engineer. Ideally, when a customer triggers a run of the diagnostic it uploads directly to the analyzer for review.

[2022-03-24 02:39] dharada opened #583 "java.lang.RuntimeException: Host/Platform check error. (when use --type logstash-api)"
The following ERROR stacktrace is shown even if they use supported type (--type logstash-api).

[code]

I think above ERROR should not be shown if they use supported [type](https://github.com/elastic/support-diagnostics#diagnostic-types).

[2022-03-24 15:58] pickypg commented on #583
This appears to be a longstanding bug and `logstash-api` appears to break that `type`:

https://github.com/elastic/support-diagnostics/blob/41edd4d8ea4d40aa68fde862966733f3a8044f40/src/main/java/co/elastic/support/diagnostics/commands/RunLogstashQueries.java#L103-L106

It should be calling out `Constants.logstashApi` and disabling system calls without throwing the exception.

[2022-04-15 14:27] klacabane opened #585 "export-monitoring.sh to support 8.x datastreams"
### Summary
The monitoring datastreams `.monitoring-{product}-mb` introduced in 8.0 are not supported by the export-monitoring.sh script. I was able to detect clusters and collect their monitoring data from legacy (self-monitoring) indices[1], but couldn't with the 8.x metricbeat datastreams[2].

[1]
[code]

[2]
[code]

[2022-04-19 19:50] otteryoudoing commented on #585
Hey team, do we have any rough estimate for when this tool will be updated? Trying to track down a monitoring issue on https://github.com/elastic/sdh-elasticsearch/issues/5877 and this is our blocker. Customer's issue was resolved by a dedicated monitoring cluster so the fire is out-  but he'd still like to know what went wrong with the data.

[2022-04-20 10:28] pquentin commented on #161
Why is seconds since boot helpful? In my (limited) SDH experience, I would have preferred human readable timestamps because it helps correlating with other symptoms that are also recorded in human readable time, not seconds since boot.

(RHEL 6 *is* an issue, but changing `dmesg` to `dmesg -T || dmesg` should be enough to work around it.)

[2022-04-20 11:24] dliappis commented on #161
I second the request for include the `dmesg` output with human timestamps and agree with the argumentation in the comment [above](https://github.com/elastic/support-diagnostics/issues/161#issuecomment-1103775149).

If we absolutely must keep the original `dmesg` output in seconds since boot, I think we can afford including a second variant of the file using `dmesg -T` (or `journalctl -b` in the bu

[2022-04-20 22:31] jpcarey opened #586 "Inject diagnostic origin into the `manifest.json`"
We need to inject the diagnostic origin into `manifest.json` [file](https://github.com/elastic/support-diagnostics/blob/2f9dbe08037c30e5822eba6857f5a6597632386f/src/main/java/co/elastic/support/diagnostics/commands/GenerateManifest.java#L48). We should be setting the origin for ESS, ECE, ECK, and CommandLine. This will allow downstream tooling to be more deterministic in handling the diagnostic.

[2022-04-22 07:06] JohannesMahne opened #587 "Extract repository information"
Please add the functionality to run `GET /_snapshot`.

[2022-04-22 08:50] JohannesMahne commented on #587
This is already in present from `8.2.7` onwards.

[2022-04-22 08:50] #587 closed

[2022-04-27 21:09] inqueue commented on #161
@jpcarey GH access privileges are blocking our ability to reopen this issue. Can you repoen on behalf of the ES perf team in light of https://github.com/elastic/support-diagnostics/issues/161#issuecomment-1103821030 and https://github.com/elastic/support-diagnostics/issues/161#issuecomment-1103775149?

[2022-04-28 14:30] PhaedrusTheGreek commented on #161
Grooming Notes
- We should do both because `-T` won't work on all distributions

[2022-04-28 14:55] pickypg commented on #161
I just merged a simple change that will go into the next release: it will include a `dmesg_t` file that uses `dmesg -T` as a peer to the `dmesg` file.

This will allow both use cases:

- Ignoring boottime issues
- Figuring out when things actually happened

[2022-05-03 20:46] #586 closed

[2022-05-05 14:40] jbragdon1 commented on #515
Just ran across this. Can confirm docker build -f docker/Dockerfile -t support-diagnostics-app . worked. Maybe a make file or a one line replacement for the bash script if documentation cannot be updated?

[2022-05-09 12:36] Leaf-Lin opened #592 "ES Health API"
Hi, from 8.2, we are introducing a lot more details in the `GET _internal/_health` API to point users to various health indicators, impacts, and recommended actions.

Could we please have this API available in the default support diagnostics for ES versions >= 8.2?

Thanks!

[2022-05-10 22:21] #592 closed

[2022-06-21 19:21] VimCommando opened #595 "Use `expand_wildcards` to limit bad API responses"
Certain API calls will fail if there are closed indices in the cluster, such as `_nodes/stats`. When there is a closed index it will respond with:

[code]

The multi-target syntax allows adding `?expand_wildcards=open` as far back as 6.8:
https://www.elastic.co/guide/en/elasticsearch/reference/6.8/multi-index.html

With additional `?expand_wildcards=open,hidden` options in 7.x:
https://www.elastic

[2022-07-08 11:29] tailorzed opened #596 "Add vmstat to check context switches"
Could you please add ``vmstat`` to see the amount of context switches?

[2022-07-16 17:30] stefnestor opened #599 "Kibana Diag Output | Paginated Alerts JSON repeats IDs and misses last page"
👋 Howdy!

I'm experiencing issues on the Kibana diagnostic's [alerts paginated output](https://github.com/elastic/support-diagnostics/blob/main/src/main/resources/kibana-rest.yml#L21). I believe I shouldn't attach my v7.17.5 diagnostic since it has sensitive data, so will outline as best I can.

My cluster has 1493 Kibana(/SIEM) Rules.

When I run the diagnostic it paginates `kibana_alerts_NUMBER.

[2022-07-21 20:18] stefnestor commented on #578
@mikecote @pmuellr will you link the Kibana-side Github to create an internal API for space-agnostic data pulls so I can follow? 🙏🏼

[2022-07-23 17:54] stefnestor commented on #484
(Noting, we originally split this out from https://github.com/elastic/support-diagnostics/issues/479#issuecomment-825148583 but it looks like the conversations continuing over there.)

[2022-07-23 18:52] stefnestor commented on #479
Circling back to https://github.com/elastic/support-diagnostics/issues/479#issuecomment-825148583:

From offline discussions we'd determined that many of these `types` endpoints are per version and could be pulled separate from a user diagnostic to avoid weighing down already-strained clusters.

@111andre111 will you please sanity check that AFAICT

- [x] "Alerts/Actions": we've implemented all ex

[2022-07-27 20:40] pmuellr commented on #578
I don't think we had an issue open for this already, so opened a new one, which should get linked back to this issue: https://github.com/elastic/kibana/issues/137352

[2022-09-01 18:05] cactusinthenorth commented on #599
@kimholyszko @Heidi-Sager Can you take a look at this one

[2022-09-06 22:04] #512 closed

[2022-09-07 15:14] cactusinthenorth commented on #596
@tailorzed Can you please add more detail to this ticket so it can be properly prioritized

[2022-09-07 16:44] 111andre111 commented on #599
This should have been fixed in this commit here:
https://github.com/elastic/support-diagnostics/pull/594/commits/db9a072cfc09d9060f16760571147359b929f213
or this PR
https://github.com/elastic/support-diagnostics/pull/594

[2022-09-07 17:06] lucabelluccini commented on #599
I _think_ the problem still persists.
In my Kibana I have 686 items in alerts and I was getting 6 files of 100 items, while I would have expected 7.

I've prepared a PR https://github.com/elastic/support-diagnostics/pull/602 but I have no automated tests yet about it.
I did try it against my cloud Kibana.

<img width="1333" alt="image" src="https://user-images.githubusercontent.com/87379/188937845

[2022-09-07 18:34] 111andre111 commented on #512
https://github.com/elastic/support-diagnostics/pull/603

[2022-09-07 21:24] #599 closed

[2022-09-07 22:00] 111andre111 commented on #599
Weird, have not been able to reproduce this issue with my cloud environment from before the change, however it seems your approach is better @lucabelluccini

[2022-09-08 13:57] stefnestor commented on #599
https://github.com/elastic/support-diagnostics/pull/602 appears to resolve Problem 1; however, Problem 2 would remain. Does it reproduce in either of your tests?

[2022-09-13 12:04] navneetsinghpatel commented on #233
This doesn't fix the problem but causes another. After adding the suggested code It start giving 403 for all API Calls.
`Caused by: org.springframework.web.client.HttpClientErrorException$Forbidden:
403 Forbidden: [
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="robots" content="NONE,NOARCHIVE">
  <title>403 Forbidden</ti

[2022-09-13 12:57] tailorzed commented on #596
@cactusinthenorth: Sure, here we go:

Modern systems utilize multitasking which means that multiple processes/threads can share the same physical CPU (core). In order to implement this execution time on CPU is shared and limited to a certain time slot and when that ends, the state of the thread/process has to be saved to be resumed when the next available timeslot comes. The switching between proc

[2022-09-15 17:58] cactusinthenorth commented on #596
@cory-fair  is this for you?

[2022-09-16 12:59] 111andre111 opened #604 "Add possibility to add to linux local diagnostics elasticsearch/docker/kibana as well the output of the kibana serveri via journalctl"
At the moment we don't collect any journalctl output which could be extrelemely helpful if we troubleshoot restart loops.

[2022-09-23 14:46] CharafouddineAhmed commented on #546
Any solutions to this issue?

[2022-10-05 15:08] cactusinthenorth commented on #604
@cory-fair Is this under your team?

[2022-10-07 14:43] lucabelluccini commented on #484
Fleet APIs already covered:
- [x] /api/fleet/package_policies
- [x] /api/fleet/agent_policies
- [x] /api/fleet/agents
PR to add few more:
https://github.com/elastic/support-diagnostics/pull/607

[2022-10-14 11:56] toby-sutor opened #608 "created in error"
Please ignore, created in error

[2022-10-14 11:57] #608 closed

[2022-10-14 12:00] meierroger opened #609 "add migration system features to diagnostic"
After upgrading the deployment, there might be a problem with system indexes, as stated in the following KB:
https://support.elastic.co/knowledge/f3c6ea67

To see what exactly failed, we need to do the following request:
```GET /_migration/system_features```

Can you please consider adding this as a new feature in the diagnostic?

[2022-10-25 10:45] jalogisch opened #611 "md5sum of systems files"
Run into issues several times that files that are part of the packages are adjusted on a local system and not replaced on the next upgrade.

That is mostly when the systemd overwrite files are not used for this, but the files are edited directly. As we know the md5sum of those files, we could check if any of these files have been changed to the origin to spot potential issues quicker.

This functi

[2022-10-28 16:36] KnowMoreIT commented on #459
I receive this error on 8.4.1 as well.

[2022-11-05 19:52] stefnestor commented on #599
Also noting this fails as fully empty even when ≥1600 Rules

![image](https://user-images.githubusercontent.com/26751266/200138435-ad6c07f7-80c7-4975-a826-5d4ea695448e.png)

[2022-11-07 08:30] lucabelluccini commented on #599
Is there a way for us to reproduce?

[2022-11-10 14:51] stefnestor commented on #599
I'm not sure. I can't tell surrounding conditions. Right now it seems to be 1 in 15 clusters I pull a Kibana diagnostic this page is empty.

[2022-11-14 01:58] sakurai-youhei commented on #473
Available options as of 8.4.0

[code]

Probably inserting the following one sentence would be an appropriate fix.

I will open a PR.

[2022-11-14 02:19] sakurai-youhei commented on #537
Here is my best research and assumption.
- The `indexName` was omitted as a part of https://github.com/elastic/support-diagnostics/pull/425
- The motivation would be a refactor in the process of implementing https://github.com/elastic/support-diagnostics/issues/422
- It seems to be technically possible to revive the `indexName`.

I might open a PR for this.

[2022-11-22 12:24] magorbalassy commented on #459
Observed as well, on 8.4.1.

[2022-11-22 12:28] magorbalassy commented on #459
Probably related to the java path os setting of the users.

[2022-11-22 12:32] fdartayre commented on #459
@magorbalassy as mentioned in https://github.com/elastic/support-diagnostics/issues/459#issuecomment-934234387, I think it points to a Log4j error. I don't think it prevents the diagnostic utility from running, but if the diagnostic fails for some reason, seeing ERROR in the logs can be misleading because it makes people think it is the cause of the failure.

[2022-11-22 12:57] magorbalassy commented on #459
@fdartayre thx ! in my case the digs doesn't run, didn't see yet the logs of the tool.